<h3>Satellite Count:</h3>
<div class="counts">
	
	<div>
		<h2>Number of:</h2>	
		Communication satellites: {{ countByType('Communication') }} <br>
		Probe satellites: {{ countByType('Probe') }} <br>
		Space Debris: {{ countByType('Space Debris') }} <br>
		Space Stations: {{ countByType('Space Station') }} <br>
		Positioning satellites: {{ countByType('Positioning') }} <br>
		Space Telescopes: {{ countByType('Space Telescope') }}
	  </div>
<!-- TODO 4: add logic to count number of satellites displayed -->
